body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	text-decoration: none !important;
	color: black !important;
	transition: all ease-in 0.2s !important;
	font-size: 1.1em !important;
}

nav {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	padding: 30px 40px 0px 40px;
}
nav a {
	margin-right: 20px;
}

img {
	display: inline-block;
}

/* Home Page Styling */

#img-cont {
	display: flex;
	flex-direction: row;
}

#logo-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 60%;
	margin-left: 2%;
}
#logo-cont img {
	margin-top: 25%;
	max-width: 65%;
}

#logo-cont button {
	width: 35vw;
}
#logo-cont h3 {
	font-size: 1.8vw;
}
#circle-cont {
	max-width: 50%;
}
#circle-cont img {
	margin-top: 5%;
	width: 140%;
	height: 93%;
	overflow: visible;
	transform: translate(10%, 0);
	animation: rotation 200s infinite linear;
}

/* About Us Page */
#about-us-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#about-us-img {
	max-width: 100em;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

/* Main Recipes styling */

.recipe-container{
	margin-top: 5%;
}

.recipe-container h1{
	text-align: center;
	margin-bottom: 20px;
}

.filter-selection-button:hover{
	color: black;
}

.filter-selection-row{
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.filter-selection-row a{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all ease-out;

	padding: 5px;
}

.filter-selection-row a:hover{
	background-color: #F0F0F0;
}

/* Recipe Card Styling */

.recipe-card-container{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-container{
	/* border: 1px solid black; */
	background-color: #F8F8F8;
	border-radius: 15px;
	height: 300px;
	width: 520px;
	margin: 10px;
	transition: all 0.2s ease-out;
	display: flex;
	flex-direction: row;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.card-container:hover{
	transform: scale(1.05);
}

.card-container-left{
	max-width: 40%;
	overflow: hidden;
}

.card-container-left img{
	/* width:  200px; */
	height: 300px;
}

.card-container-right{
	width: 70%;
	flex-direction: column;
	padding: 2% 0 0 2%;
}

.card-container-right hr{
	width: 30%;
}

.card-container-right h2{
	font-weight: 300;
}

.card-container-right h4{
	font-weight: 300;
}

.card-container-right p{
	margin-bottom: auto;
}

/* Generic */

.center-text{
	text-align: center;
}