body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	text-decoration: none !important;
	color: black !important;
	transition: all ease-in 0.2s !important;
	font-size: 1.1em !important;
}

nav {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	padding: 30px 40px 0px 40px;
}
nav a {
	margin-right: 20px;
}

img {
	display: inline-block;
}

/* Navbar styling */

.nav-not-logged-in {
}

.nav-logged-in img {
	margin-top: -10%;
	max-width: 10vw;
}

/* Home Page Styling */

#img-cont {
	display: flex;
	flex-direction: row;
}

#logo-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 60%;
	margin-left: 2%;
}
#logo-cont img {
	margin-top: 25%;
	max-width: 65%;
}

#logo-cont button {
	width: 35vw;
}
#logo-cont h3 {
	font-size: 1.8vw;
}
#circle-cont {
	max-width: 50%;
}
#circle-cont img {
	margin-top: 5%;
	width: 140%;
	height: 93%;
	overflow: visible;
	transform: translate(10%, 0);
	animation: rotation 200s infinite linear;
}

/* About Us Page */
#about-us-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#about-us-img {
	max-width: 100em;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

/* Main Recipes styling */

.recipe-container {
	margin-top: 5%;
	margin-left: 10vw;
	width: 80vw;
}

.recipe-container h1 {
	text-align: center;
	margin-bottom: 20px;
}

.filter-selection-button:hover {
	color: black;
}

.filter-selection-row {
	margin-bottom: 20px;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.filter-selection-row a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all ease-out;

	padding: 5px;
}

.filter-selection-button-selected {
	background-color: #f0f0f0 !important;
}

.filter-selection-row a:hover {
	background-color: #f0f0f0;
}

/* Recipes by meal styling */

.by-meal-content-container {
	margin-left: 10vw;
	width: 80vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.by-meal-img-container {
	width: 300px;
	height: 600px;
	background-size: cover;
	opacity: 0.7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #f0f0f0;
	transition: all 0.2s ease-out;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

	cursor: pointer;
}

.by-meal-img-container:hover {
	transform: scale(1.05);
}

.by-meal-img-container h1 {
	font-size: 3.5rem;

	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#breakfast-img {
	background-image: url(../img/img6.jpg);
}

#lunch-img {
	background-image: url(../img/img7.jpg);
}
#dinner-img {
	background-image: url(../img/img8.jpg);
}
#dessert-img {
	background-image: url(../img/img9.jpg);
}

/* Recipes By Ingredient Styling */

.ingredient-content-container {
	margin-left: 10vw;
	width: 80vw;
}

.ingredient-button-container {
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ingredient-button {
	text-transform: capitalize;
	margin: 5px;
	flex-grow: 1;
	flex-shrink: 1;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

	/* border-radius: 1% !important; */
}
.ingredients-logo {
	margin-left: 14%;
}

/* Recipe Card Styling */

.recipe-card-container {
	margin-left: 10vw;
	width: 80vw;
	/* width: 100%; */
	display: flex;
	/* justify-content: space-between; */
	flex-direction: row;
	flex-wrap: wrap;
}

/* .recipe-card-container::after {
	content: '';
	flex-grow: 1000000000;
} */

.card-container {
	/* border: 1px solid black; */
	background-color: #f8f8f8;
	border-radius: 15px;
	height: 340px;
	width: 500px;
	margin: 15px;
	transition: all 0.2s ease-out;
	flex: 3;
	display: flex;
	flex-direction: row;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card-container:hover {
	transform: scale(1.05);
}

.card-container-left {
	max-width: 40%;
	overflow: hidden;
}

.card-container-left img {
	/* width:  200px; */
	height: 340px;
}

.card-container-right {
	width: 60%;
	flex-direction: column;
	padding: 2% 0 0 2%;
}

.card-container-right hr {
	width: 30%;
}

.card-container-right * {
	font-weight: 300;
}

/* .card-container-right h4 {
	font-weight: 300;
} */

.card-container-right p {
	margin-bottom: auto;
}

.recipe-spec-container {
	padding-left: 8%;
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.recipe-spec {
	/* padding: 2%; */
	margin: 2%;
	border-radius: 15px;
	border: 1px solid lightslategray;
	min-width: 40%;
	min-height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.recipe-spec p {
	font-size: 1.2em;
}

.recipe-spec-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* My Account style */

.myaccount-container {
	margin: 5%;
}

.myaccount-top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.myaccount-content-container {
	display: flex;
	flex-direction: row;
}

.myaccount-sidebar {
	min-width: 25%;
	max: 25%;
	padding-right: 1%;
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.myaccount-sidebar h3 {
	font-weight: 400;
	font-size: 1.3vw;
}

.myaccount-sidebar h2 {
	font-weight: 400;
	font-size: 1.5vw;
}

.myaccount-content {
	width: 70%;
}

.avatar-container {
	/* border: 1px solid black; */
	border-radius: 50%;

	width: 80px;
	height: 80px;
	text-align: center;
	background-color: rgba(0, 0, 0, .1);
	transition: ease-in 0.3s all;
}

.avatar-container:hover {
	background-color: rgba(0, 0, 0, .5);
}

#my-account-avatar {
	margin-top: 10px;
	max-width: 50px;
}

/* Create A Recipe */

.table-head {
	background-color: #f8f8f8;
}
.table-head h3 {
	font-weight: 300;
}
#add-ingredient-button {
	height: 50%;
	margin-top: 32px;
}

#add-step-button {
	height: 86px;
	margin-top: 32px;
}

.current-ingredients {
	margin-bottom: 2%;
}

/* Generic */

.center-text {
	text-align: center;
}

/* iPhone X media */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
	.card-container {
		/* width: 90vw; */
	}
}

/* iPad Pro media */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
	.card-container {
		/* width: 90vw; */
	}
}

/* Browser resize */

@media screen and (max-width: 1440px) {
	.card-container {
		/* width: 90vw; */
	}
}
